/*! All Rights Reserved. Copyright 2012 (C) TOYOTA  MOTOR  CORPORATION.
Last Update: 2012/05/25
Athear Manual Contents Style Sheets:Not Japanese */

td {
  vertical-align: top;
}

body.modeless {
  background-color: #FFFFFF;
}

div.wrapper {
  height: 100%;
}

div.modeless_wrapper {
  margin: 0px 15px 0px 15px;
  height: 516px;
}

div#body {
  width: 100%;
  height: 100%;
}

div#contents {
  width: 100%;
  height: 100%;
}

div#body div.modeless_contents {
  height: 528px;
  _height: 540px;
}

div#contents_body {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
}

div.otherManualHead {
  width: auto;
  height: 28px;
  border: 1px solid #A0A0A0;
  background: url(../img/png/mtrx_bg.png) repeat-x top left;
  overflow: hidden;
}

div.otherManualHead div {
  float: left;
  height: 28px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 3px;
  font-weight: bold;
  color: #FFFFFF;
}

div.otherManualHead div.omhManual {
  width: 26.5%;
}

div.otherManualHead div.omhModel {
  width: 13%;
  _width: 12.5%;
}

div.otherManualHead div.omhGCode {
  width: 14%;
}

div.otherManualHead div.omhParts {
  width: 17.5%;
  _width: 17%;
}

div.otherManualHead div.omhPDate {
  width: 16%;
}

div.otherManualHead div.omhRemarks {
  width: 13%;
}

div.otherManualBody {
  width: 100%;
  height: 475px;
  _height: 496px;
  overflow: auto;
  overflow-x: hidden;
}

div.otherManualBody table {
  width: 100%;
  table-layout: fixed;
}

div.otherManualBody table col.omhManualCol {
  width: 26.5%;
  _width: 25.5%;
}

div.otherManualBody table col.omhModelCol {
  width: 13%;
  _width: 12.5%;
}

div.otherManualBody table col.omhGCodeCol {
  width: 14%;
  _width: 13.5%;
}

div.otherManualBody table col.omhPartsCol {
  width: 17.5%;
  _width: 16.5%;
}

div.otherManualBody table col.omhPDateCol {
  width: 16%;
  _width: 15%;
}

div.otherManualBody table col.omhRemarksCol {
  width: 13%;
  _width: 13.5%;
}

div.otherManualBody table tbody td {
  padding: 4px 5px 3px 0px;
  word-break: break-all;
  overflow: hidden;
}

div.otherManualBody table tbody td.ombManual {
  padding: 4px 5px 3px 2px;
}

div.otherManualBody table tbody td.ombRemarks {
  _padding: 4px 15px 3px 0px;
}

div.welcabManualHead {
  width: auto;
  height: 28px;
  border: 1px solid #A0A0A0;
  background: url(../img/png/mtrx_bg.png) repeat-x top left;
  overflow: hidden;
}

div.welcabManualHead div {
  float: left;
  height: 28px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 3px;
  font-weight: bold;
  color: #FFFFFF;
}

div.welcabManualHead div.wmhInfo1 {
  width: 14%;
}

div.welcabManualHead div.wmhInfo2 {
  width: 12%;
}

div.welcabManualHead div.wmhManual {
  width: 10%;
}

div.welcabManualHead div.wmhPDate {
  width: 13%;
}

div.welcabManualHead div.wmhModel {
  width: 13%;
}

div.welcabManualHead div.wmhGCode {
  width: 13%;
}

div.welcabManualHead div.wmhParts {
  width: 7%;
}

div.welcabManualHead div.wmhRemarks {
  width: 18%;
  _width: 17%;
}

div.welcabManualBody {
  width: 100%;
  height: 475px;
  _height: 496px;
  overflow: auto;
  overflow-x: hidden;
}

div.welcabManualBody table {
  width: 100%;
  table-layout: fixed;
}

div.welcabManualBody table col.wmhInfo1Col {
  width: 14.5%;
}

div.welcabManualBody table col.wmhInfo2Col {
  width: 12.5%;
}

div.welcabManualBody table col.wmhManualCol {
  width: 10%;
}

div.welcabManualBody table col.wmhPDateCol {
  width: 12%;
}

div.welcabManualBody table col.wmhModelCol {
  width: 14.5%;
}

div.welcabManualBody table col.wmhGCodeCol {
  width: 13%;
}

div.welcabManualBody table col.wmhPartsCol {
  width: 7%;
}

div.welcabManualBody table col.wmhRemarksCol {
  width: 16.5%;
}

div.welcabManualBody table tbody td {
  padding: 4px 5px 3px 0px;
  word-break: break-all;
  overflow: hidden;
}

div.welcabManualBody table tbody td.wmbInfo1 {
  padding: 4px 5px 3px 2px;
}

div.welcabManualBody table tbody td.wmbRemarks {
  _padding: 4px 19px 3px 0px;
}

div.referenceManualHead {
  width: auto;
  height: 28px;
  border: 1px solid #A0A0A0;
  background: url(../img/png/mtrx_bg.png) repeat-x top left;
  overflow: hidden;
}

div.referenceManualHead div {
  float: left;
  height: 28px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 3px;
  font-weight: bold;
  color: #FFFFFF;
}

div.referenceManualHead div.rmhCorporateCommon {
  width: 100%;
}

div.referenceManualBody {
  width: 100%;
  height: 475px;
  _height: 496px;
  overflow: auto;
  overflow-x: hidden;
}

div.modelessReferenceManualBody {
  margin: 10px 0px 10px 0px;
  border: 1px solid #A0A0A0;
  width: 99.99%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

div.referenceManualBody table {
  width: 100%;
  table-layout: fixed;
}

div.referenceManualBody table col.rmhIndexCol {
  width: 3%;
}

div.modelessReferenceManualBody table col.rmhIndexCol {
  width: 4%;
}

div.referenceManualBody table col.rmhContentsCol {
  width: auto;
}

div.referenceManualBody table tbody td {
  padding: 4px 5px 3px 0px;
  word-break: break-all;
  overflow: hidden;
}

div.referenceManualBody table tbody td.rmbIndex {
  text-align: right;
  color: #B30000;
}

div.referenceManualBody table tbody td.rmbContents {
  _padding: 4px 15px 3px 3px;
}
